**Lambda Function**

- lambda function reprents function concept

- but we can write in single line 

- like list comprehension, lambda function similar only

- it will decrease time complexity

- always remember if we use for loop for many condition using multiple line ,time

In [ ]:
**it will use a keyword lambda**

#lambda <arguments>: <expression>

In [1]:
def summ(n):
    return(n+10)
summ(10)

20

$pattern-1$

**function with only one argument**

- function name

- argument name

- return output

In [4]:
#syntax <function name>=lambda <argument name>: <return output>

summ=lambda n: n+10
summ(100)

110

In [6]:
def cube(n):
    return(n**3)
cube(10)

1000

In [7]:
cube=lambda n: n**3
cube(10)

1000

$Pattern-2$

**Function with two arguments**

In [8]:
#syntax is <function name>=lambda <argument1>,<argument2>: <return output>
def add(a,b):
    return(a+b)
add(50,50)

100

In [9]:
add=lambda a,b: a+b
add(10,20)

30

In [10]:
add=lambda n1,n2: n1+n2
add(60,70)

130

In [11]:
add=lambda n1,n2,n3: n1+n2+n3
add(60,50,40)

150

In [12]:
average=lambda a,b,c: round((a+b+c)/3,2)
average(10,20,30)

20.0

$Pattern-3$

**Default arguments**

In [13]:
average=lambda a,b,c=50: round((a+b+c)/3,2)
average(10,20)

26.67

$Pattren-4$

**If - Else**

In [14]:
def max(a,b):
    if a>b:
        return(a)
    else:
        return(b)
max(10,20)

20

In [21]:
max=lambda a,b: a if a>b  else b 
max(10,20)

20

In [18]:
max=lambda a,b: a if a>b else b
max(30,20)

30

$Pattern-5$

**Using List**

In [23]:
l=['hyd','chennai','mumbai']
lambda i: i.capitalize(),l

(<function __main__.<lambda>(i)>, ['hyd', 'chennai', 'mumbai'])

In [24]:
l=['hyd','chennai','mumbai']
map(lambda i: i.capitalize(),l)

In [25]:
l=['hyd','chennai','mumbai']
list(map(lambda i: i.capitalize(),l))

['Hyd', 'Chennai', 'Mumbai']

In [26]:
l=['hyd','chennai','mumbai']
tuple(map(lambda i: i.capitalize(),l))

('Hyd', 'Chennai', 'Mumbai')

In [ ]:
- case-1: Function call with arguments

        - lambda arguments : Expression

        - lambda variables : return output

- case -2: function call with two arguments

        - lambda atg1,arg2 : Expression

        - lambda var1,var2 : return output

- case-3 : function call with default arguments

        - lambda arg1,arg2=500 : expression

        - lambda

In [5]:
l=['hyd','chennai','mumbai']
for i in l:
    print(i.upper())

HYD
CHENNAI
MUMBAI

In [6]:
list(map(lambda i:i.upper(),l))

['HYD', 'CHENNAI', 'MUMBAI']

In [9]:
l=['hyd','che#nnai','mum#bai']
list(map(lambda i : '#' in i,l))

[False, True, True]

In [10]:
l=[1,3,2,7,6]
list(filter(lambda i: i%2==0 ,l))

[2, 6]

In [11]:
l1=[1,2,3,4,5]
sum(l1)

15

In [13]:
summ=0
l1=[1,2,3,4,5]
for i in l1:
    summ=summ+i
print(summ)

15

In [19]:
l1=[1,2,3,4,5]

filter(lambda summ,i: summ+i,l1)

In [23]:
import functools
l1=[1,2,3,4,5]
functools.reduce(lambda summ,i: summ+i,l1,0)

15

In [24]:
from functools import reduce
l1=[1,2,3,4,5]
reduce(lambda summ,i: summ+i,l1,0)

15